<!DOCTYPE HTML>

<html> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
        <title>Streetfighters {% block title %}{% endblock %}</title> 
        <meta name="author" content="Streetfighters" /> 
        <meta name="description" content="StreetFighters" /> 
        <meta name="keywords" content="Streetfighters, Opelclub, Opel, Tuning, Manta, Astra, Calibra, Kadett, Vectra" /> 
        <meta name="robots" content="all" /> 
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/main.css" /> 
    </head> 

    <body> 
        <!-- BEGIN board --> 
        <div id="board"> 
            <!-- BEGIN header --> 
            <div id="header"> 
                <img src="{{ STATIC_URL }}images/main/opellogo.png" alt="opellogo" /> 
                <h1>StreetFighters Murtal</h1> 
            </div> 
            <!-- END header --> 
            
            <!-- BEGIN menu --> 
            <div id="menu"> 
                <ul> 
                    <li><a href="{% url web:news %}">News</a></li> 
                    <li><a href="{% url web:members %}">Mitglieder</a></li> 
                    <li><a href="{% url web:sponsors %}">Sponsoren</a></li> 
                    <li><a href="{% url web:contact %}">Kontakt</a></li> 
                    <li><a href="{% url web:imprint %}">Impressum</a></li> 
                </ul> 
            </div> 
            <!-- END menu --> 

            <!-- BEGIN MainContent --> 
            <div class="container"> 
              {% block content %}<p>no content</p>{% endblock %}
            </div> 
            <!-- END MainContent --> 
        </div> 
        <!-- END board --> 
              

        <!-- BEGIN footer --> 
        <div id="footer"> 
            <p id="copyright"> 
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />Dieses Werk steht unter einer <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Namensnennung-Nicht-kommerziell-Weitergabe unter gleichen Bedingungen 3.0 Unported Lizenz</a>.
            </p> 
            <p> 
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="CSS ist valide!" /> 
                </a> 
                <a href="http://validator.w3.org/check?uri=referer"> 
                    <img style="border:0;width:88px;height:31px" src="{{ STATIC_URL }}images/main/valid-html5-blue.png" alt="HTML ist valide!" /> 
                </a> 
                <script type="text/javascript" src="http://www.ipcounter.de/count_js.php?u=68040940&amp;color=black"></script> 
            </p> 
        </div> 
        <!-- END footer --> 
      
    </body> 
</html> 
